<?xml version="1.0" encoding="UTF-8"?>
<!-- This is the definition of a bean from the docs -->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
    <bean id = "alien" class = "Section8_SpringFramework.L173_LazyInitializationBean.Alien" scope="singleton">
        <!-- Constructor injection -->
        <!-- Use the type for differences-->
        <!-- <constructor-arg type="Section8_SpringFramework.L169_ConstructorInjection.Laptop" ref="laptop"/>-->
        <!-- <constructor-arg type="int" value="21"/>-->
        <!-- Use the index number -->
        <!-- <constructor-arg index="0" value="21"/>-->
        <!-- <constructor-arg index="1" ref="laptop"/>-->
        <!-- Use the name of the parameter -->
        <constructor-arg name="compConstructor" ref="desktop"/>
        <constructor-arg name="ageConstructor" value="21"/>

        <!-- Setter Injection: inject value-->
<!--        <property name="age" value="21"/>-->
        <!-- Setter Injection: inject reference -->
<!--        <property name="comp" ref="desktop"/>-->
    </bean>

    <bean id = "comp" class = "Section8_SpringFramework.L173_LazyInitializationBean.Laptop" scope="singleton">
    </bean>
    <bean id = "desktop" class = "Section8_SpringFramework.L173_LazyInitializationBean.Desktop" scope="singleton" lazy-init="true">
    </bean>

</beans>